@import "lib/bourbon/bourbon";

// Variables
$color-dark:  #333;
$color-mid:   #777;
$color-light: #f0f0f0;
$block-background: rgba(black, 0.5);

$font-size-base: 18px;
$font-size-small: 0.75em;

$font-family-base: "avenir next", "helvetica neue", helvetica, arial, sans-serif;

$input-height: 3em;

// Mixins and extends
@mixin breakpoint-small {
  @media (max-width : 480px) {
    @content;
  }
}

%container {
  width: 50%;
  margin: 0 auto;
  max-width: 700px;
}

// Animation
@include keyframes(tada) {
  0% {
    @include transform(scale3d(1, 1, 1));
  }

  10%, 20% {
    @include transform(scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg));
  }

  30%, 50%, 70%, 90% {
    @include transform(scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg));
  }

  40%, 60%, 80% {
    @include transform(scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg));
  }

  100% {
    @include transform(scale3d(1, 1, 1));
  }
}

.tada {
  @include animation-name(tada);
  @include animation-duration(1s);
  @include animation-fill-mode(both);
}

// Icons
@include font-face("icons", "/fonts/done");

[data-icon] {
  &::before {
    font-family: "icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    position: relative;
    font-size: 30px;
    top: 10px;
    padding-left: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

[data-icon="history"]::before {
  content: "\E000";
}

[data-icon="tasks"]::before {
  content: "\E001";
}

[data-icon="thumbs-up"]::before {
  content: "\E002";
}

// Base
* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-dark;
  color: $color-dark;
  font-family: $font-family-base;
  font-size: $font-size-base;
  min-height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: $color-dark;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

small {
  color: $color-mid;
  font-size: $font-size-small;
}

[data-fit-text] {
  text-transform: uppercase;

  @include breakpoint-small {
    height: 2em;
  }
}

input {
  @include appearance(none);
  @include transition(all 0.1s ease-in-out);
  background-color: $block-background;
  border-radius: $input-height / 2;
  border-radius: $input-height / 2;
  border: 0;
  color: $color-dark;
  display: block;
  font-weight: bold;
  height: $input-height;
  line-height: 2em;
  margin: 0 auto;
  padding: 0.5em;
  text-align: center;
  width: 100%;

  @include placeholder {
    color: $color-light;
  }

  &:focus {
    background-color: white;
    outline: none;
  }
}

ul,
ol {
  list-style: none;
}

// Components
.block {
  @extend %container;
  padding: 1em;
  position: relative;
  z-index: 1;

  @include breakpoint-small {
    width: 100%;
  }
}

.block-header,
.block-list-item {
  background-color: $block-background;
  color: white;
  margin-bottom: 1px;
  padding: 0.5em 1em;
}

.block-header {
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  margin-bottom: 4px;
}

.block-list-item {
  &:last-child {
    border-radius: 0 0 5px 5px;
  }
}

.background {
  @include position(fixed, 0px 0 0 0px);
  @include size(100vw 100vh);
  background-repeat: no-repeat;
  background-size: cover;
}

// Templates
.question-wrapper {
  height: 100vh;
}

.question {
  @extend %container;
  @include transform(translateY(-50%));
  text-align: center;
  top: 45%;
}

.history {
  min-height: 100vh;
}
